/*
* @Author: 洁
* @Date:   2019-11-26 15:54:42
* @Last Modified by:   洁
* @Last Modified time: 2019-11-26 17:39:42
*/
*{/*通配符*/
           margin:0;/*外边距*/
           padding:0;/*内边距*/
           list-style:none;/*去掉无列表式里面的黑点*/
        }
body {
    font-family: Arial, Tahoma, "Microsoft YaHei", "微软雅黑", "Helvetica Neue", Helvetica, STHeiTi, sans-serif;
    font-size: 14px;
    color: #333;
    background-color:#ffffff;
     min-width: 1226px;
}
.head-login {
    width: 100%;
    height: 100px;
    box-sizing: border-box;
    overflow: hidden;
    background-color: 
    #fff;
}
.zuipin-wrapper {
    width: 1226px;
    
    margin: 0 auto;
    position: relative;
}
a {
    color: #b0b0b0;
    text-decoration: none;
}
.head-login .zuipin-logo {
    height: 46px;
    /* margin-top: 34px; */
}
.head-login .zuipin-logo img {
    vertical-align: middle;
    display: inline-block;
    height: 230%;
}
.zuipin-page-content {
    width: 100%;
    margin: 0 auto;
}
.login-container {
    width: 100%;
    height: 584px;
    margin: 0 auto;
    background: #ffffff;
    overflow-y: hidden;
}
.zuipin-wrapper {
    width: 1226px;
    margin: 0 auto;
    position: relative;
}
.login-content > div {
    float: left;
}
fieldset, img {
    border: 0;
    display: block;
}
.right-content {
    width: 380px;
    height: 524px;
    box-sizing: border-box;
    margin-top: 30px;
    padding: 30px;
    background-color: 
    #fff;
    position: relative;
    margin-left: 50px;
}
.login-tab {
    width: 340px;
    margin: 30px auto 0;
}
.login-tab li.on {
    color: 
    #ff3600;
}
.login-methods li.on {
    display: block;
}
.login-tab li {
    float: left;
    width: 49%;
    text-align: center;
    color: #333333;
    font-size: 18px;
    cursor: pointer;
}
.login-tab li + li {
    border-left: 1px solid 
    #e0e0e0;
}

.clearfix::after {

    clear: both;

}
.clearfix::after, .clearfix::before {

    content: " ";
    display: table;

}
.mistake_tips {
    display: none;
    width: 100%;
    padding: 10px 30px 10px 56px;
    box-sizing: border-box;
    background-color: 
#ffefeb;
color:
    #ff3600;
    line-height: 1.5;
    font-size: 14px;
    margin-top: 24px;
    background-image: url('../images/ic/icon_jian.png');
    background-position: 28px center;
    background-repeat: no-repeat;
}
.login-methods {
    width: 316px;
    margin: 30px auto 20px;
}
.message-login .pass-word {
    float: left;
    width: 196px;
}
.login-methods li input {
    display: block;
    width: 100%;
    height: 44px;
    line-height: 44px;
    border: 1px solid 
    #cbcbcb;
    outline: none;
    margin-bottom: 15px;
    text-indent: 15px;
    font-size: 12px;
 font-size: 12px;
}
.login-methods li.on {
    display: block;
}

.login-methods {
    width: 316px;
    margin: 30px auto 20px;
}

.login-form .yzm-text {
    display: inline-block;
    width: 34%;
    font-family: Arial;
    font-style: italic;
    font-weight: bold;
    border: 0;
    letter-spacing: 10px;
    color: 
    blue;
    margin-left: 3%;
    margin-bottom: -24px;
}
.message-login .message-check {
    width: 108px;
    float: right;
    height: 46px;
    line-height: 46px;
    color: 
#fff;
text-align: center;
background:
    #ddd;
}
.regist-forget-box {
    text-align: center;
    color: 
    #999;
}
ol, ul {
    list-style: none;
}
.tip-red {
    color: 
    #ff3600;
    font-size: 12px;
    line-height: 24px;
}
.tip-red .iconfont {
    position: relative;
    top: 1px;
    margin-right: 5px;
}
.iconfont {
    font-family: "iconfont" !important;
    font-size: 16px;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.login-methods .login-btn {
    font-size: 14px;
    color: 
#fff;
display: inline-block;
background-color:
    #ddd;
    width: 100%;
    border: none;
    outline: none;
    height: 44px;
    line-height: 44px;
    text-align: center;
    margin-top: 10px;
}
.regist-forget-box {
    text-align: center;
    color: 
    #999;
}
.regist-forget-box a {
    color: 
    #999;
    text-align: right;
    padding-right: 30px;
    display: none;
}
.other-methods {
    position: absolute;
    bottom: 30px;
    text-align: center;
    width: 100%;
    left: 0;
}
.other-methods p {
    color: 
    #bbbbbb;
    line-height: 40px;
    position: relative;
}
.other-methods p::before {
    position: absolute;
    content: "";
    border-bottom: 1px solid 
    #e0e0e0;
    width: 125px;
    top: 19.5px;
    left: 30px;
}
.other-methods p::after {
    position: absolute;
    content: "";
    border-bottom: 1px solid 
    #e0e0e0;
    width: 125px;
    top: 19.5px;
    right: 30px;
}
.methods-box li, .methods-box li a {
    display: inline-block;
    width: 30px;
    height: 30px;
}
.zhifubao {
    background: url('../images/login/zhifubao.png') no-repeat;
}
.methods-box li + li {
    margin-left: 40px;
}
.methods-box li, .methods-box li a {
    display: inline-block;
    width: 30px;
    height: 30px;
}
.huise{
        background-color: #f0f0f0;
    }

