/*
* @Author: 洁
* @Date:   2019-11-29 17:12:22
* @Last Modified by:   洁
* @Last Modified time: 2019-11-30 17:25:00
*/
.web .pdtList li.pdtItem .item.hover {background:#BC8f8f;border:8px solid #BC8f8f;}
.web .pdtList li.pdtItem .item.hover .frame_wrap {display:block;position:absolute;left:0;top:0;width:100%;height:100%;background:#BC8f8f;border:4px solid #fff;
  -webkit-box-sizing:border-box; -moz-box-sizing:border-box; -o-box-sizing:border-box; -ms-box-sizing:border-box; box-sizing:border-box;}

.pdtList li.pdtItem .item .opt_btn .btn_cart,
.pdtList li.pdtItem .item .opt_btn .btn_detail {color:#006030;background:#BC8f8f;border:1px solid #BC8f8f;}
.pdtList li.pdtItem .item .opt_btn .btn_direct {color:#231f20;background:#ffc628;border:1px solid #ffc628;}
.pdtList li.pdtItem .item .opt_btn .btn_wish:hover {background-color:#fff;border:1px solid #dddddd;}
.pdtList li.pdtItem .item .opt_btn .btn_cart:hover,
.pdtList li.pdtItem .item .opt_btn .btn_detail:hover {color:#231f20;background:#fff;border:1px solid #231f20;}
.pdtList li.pdtItem .item .opt_btn .btn_direct:hover {color:#ffc628;background:#fff;border:1px solid #ffc628;}